// Margins
$margin-5: 5px;
$margin-10: 10px;
$margin-15: 15px;
$margin-20: 20px;
$margin-30: 30px;

// Paddings
$padding-5: 5px;
$padding-10: 10px;
$padding-15: 15px;
$padding-20: 20px;
$padding-30: 30px;